<%= bootstrap_form_for( @author, :html => {class: 'form-horizontal'}) do |f| %>
    <div class="form-group">
      <label class="control-label col-md-3" for="First name"></label>
      <div class="col-md-9">
        <%= f.text_field :first_name,class: 'form-control',hide_label: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="First name"></label>
      <div class="col-md-9">
        <%= f.text_field :first_name,class: 'form-control',hide_label: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="First name"></label>
      <div class="col-md-9">
        <%= f.text_field :first_name,class: 'form-control',hide_label: true %>
      </div>
    </div>
<% end %>